<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is used to fetch weather data for any location as long as you are providing a valid address.</p>
        <img class="portrait" src="/img/me.jfif">
    </div>
    
    {{>footer}}
</body>

</html>